body {
    font-family: sans-serif;
    background: rgb(63,94,251);
background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(27,31,97,1) 100%);
  }
  
  h1 {
    font-size: 2em;
    color: #000000;
  }
  
  img {
    width: 50%;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th,
  td {
    border: 1px solid #000000;
    padding: 10px;
  }
  
  th {
    background-color: #dddddd;
  }
  
  a {
    color: #000000;
    text-decoration: none;
  }
  