<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', path='/css/stylesdatos.css')}}">
    <title>{{title}}</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body>

    <header id="page-header">

        <div id="branding">
            <h1 id="site-title">{{title}}</h1>
        </div>

        <div id="mySidebar" class="sidebar">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
            <a href="/LaMaria/home">Inicio</a>
            <a href="/LaMaria/ingresoDatos">Datos</a>
        </div>

        <div id="boton">
            <button class="openbtn" onclick="openNav()">☰</button>  
        </div>

        <script>
            function openNav() {
                document.getElementById("mySidebar").style.width = "150px";
                document.getElementById("boton").style.marginLeft = "250px";
            }

            function closeNav() {
                document.getElementById("mySidebar").style.width = "0";
                document.getElementById("boton").style.marginLeft = "0";
            }
        </script>

    </header>

    {% if message_raise %}
    <div class="alert">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
        {{message_raise}}
    </div>
    {% endif %}

    <div style="margin: 20px;">
        <h2>Datos de la semana</h2>
    </div>

    <section style="display: flex; justify-content: space-around; padding: 10px;">

        <div id="datos_semana" style="height: 35px; width: 95%; display: flex; justify-content: space-around;">
            
            <form id="datosForm" method="post" action="/LaMaria/ingresoDatos" style="display: inline-flex; width: 100%; justify-content: space-around; align-items: center;">

                <label for="grsemana">Kg acumulados</label>
                <input type="number" id="grsemana" name="grsemana" placeholder="0 Kg" min="0" max="10000000" step="1" required>

                <label for="precioseman">Precio promedio</label>
                <input type="number" id="precioseman" name="precioseman" placeholder="0,0 €" min="0" max="500" step="0.1" required>

                <label for="semana">No. semana</label>
                <input type="number" id="semana" name="semana" placeholder="1 - 20" min="0" max="20" step="1" required>

                <button type="submit" class="my-button" id="guardardatossemana">Guardar Datos</button>
            </form>

            <script>
                // Obtén el botón por su identificador
                var guardarDatosBtn = document.getElementById('guardardatossemana');
        
                // Agrega un event listener para el evento 'click'
                guardarDatosBtn.addEventListener('click', function(event) {
                event.preventDefault();
                    
                    console.log('Botón clickeado');
                    var datosForm = document.getElementById('datosForm');
                    console.log(datosForm);
                    var formData = new FormData(datosForm);
                    var jsonData = JSON.stringify(Object.fromEntries(formData.entries()));
                    
                    
                    // También puedes enviar el formulario aquí si lo necesitas
                    // document.getElementById('datosForm').submit();

                    console.log(jsonData);
                    enviarDatos(jsonData, "/LaMaria/ingresoDatos/actualizarSemana"); 

                });
            </script>


        </div>

    </section>

    <section style="display: block; justify-content: space-around; padding: 10px;">

        <div id="finciclo" style=" width: 90%;display: inline-flex; align-items: center; padding: 20px;">
            <label id="fechadefin" style="padding-inline: 20px;">Fecha fin de ciclo: DD/MM/AAAA </label>
            <button id="btnTrueEndpoint2" class="my-button">Finalizar Ciclo</button>
        </div>

        <div id="iniciocilo" style="width: 90%; display:inline-flex; align-items: center; padding: 20px;">
            <label for="start" style="margin-right: 20px; margin-left: 20px;">Inicio de ciclo</label>
            <input type="date" id="fechainicio" name="iniciodeciclo" style="margin-right: 20px;" />
            <button id="btnTrueEndpoint1" class="my-button" style="padding-inline: 20px;">Inicio Ciclo </button>
        </div>

        <div style="margin: 20px;">
            <h2>PDf por ciclo</h2>
        </div>

        <div id="iniciocilo" style="width: 90%; display:inline-flex; align-items: center; padding: 20px;">

            <form action="#" id="formCiclo">
                <label for="cilopdf">Seleccione el ciclo:</label>
                <select name="cilopdf" id="cilopdf">
                    {% for id_ciclo, nombre_ciclo in ciclos.items() %}
                        <option value="{{ id_ciclo }}">{{ nombre_ciclo }}</option>
                    {% endfor %}
                </select>
                <input type="button" value="Seleccionar" id="busquedaciclo">
        
                <label id="fechadeiniciopdf" style="padding-inline: 5px;">El cilo inicio el: DD/MM/AAAA </label>
                <label id="fechadefinpdf" style="padding-inline: 10px;">El ciclo finalizó el: DD/MM/AAAA </label>
            </form>
        
            <button id="btnTrueEndpoint4" class="my-button" style="padding-inline: 10px;">Generar pdf</button>
        
        </div>

        <script>
            // Obtén el botón por su identificador
            var guardarDatosBtn = document.getElementById('busquedaciclo');
        
            // Agrega un event listener para el evento 'click'
            guardarDatosBtn.addEventListener('click', function (event) {
                event.preventDefault();
        
                console.log('Botón clickeado 2');
                var datosForm = document.getElementById('formCiclo');
                console.log(datosForm);
                var formData = new FormData(datosForm);
                var jsonData = JSON.stringify(Object.fromEntries(formData.entries()));
        
                // También puedes enviar el formulario aquí si lo necesitas
                // document.getElementById('formCiclo').submit();
        
                console.log(jsonData);
                enviarDatos(jsonData, "/LaMaria/ingresoDatos/busquedaId");
            });
        </script>
        
        

        <script>
            // Obtener los botones por su identificador
            var btnTrueEndpoint1 = document.getElementById('btnTrueEndpoint1');
            var btnTrueEndpoint2 = document.getElementById('btnTrueEndpoint2');
    
            // Agregar event listeners para los eventos 'click'
            btnTrueEndpoint1.addEventListener('click', function() {
                var fechaInicio = document.getElementById('fechainicio').value;
                var data = {
                    flag: true,
                    fechaInicio: fechaInicio
                };  
                var jsonData = JSON.stringify(data);
                console.log(jsonData);
                enviarDatos(jsonData, "/LaMaria/ingresoDatos/CrearCiclo");            
            });
    
            btnTrueEndpoint2.addEventListener('click', function() {
                var fechaActual = new Date();
                var options = { year: 'numeric', month: 'long', day: 'numeric' };
                var fechaFormateada = fechaActual.toLocaleDateString('es-ES', options);
    
                // Actualizar el texto del elemento HTML    
                document.getElementById("fechadefin").textContent = "Fecha fin  de ciclo: " + fechaFormateada;  
                var data = {
                    flag: true,
                };  
                var jsonData = JSON.stringify(data);
                enviarDatos(jsonData, "/LaMaria/ingresoDatos/FinalizarCiclo"); 
            });
    
            // Función para enviar el valor booleano al servidor
            function enviarDatos(data, endpoint) {
                // Crear una instancia de XMLHttpRequest
                var xhr = new XMLHttpRequest();
    
                // Configurar la solicitud POST al servidor
                xhr.open("POST", endpoint, true);
                xhr.setRequestHeader("Content-Type", "application/json");
    
                // Puedes manejar la respuesta del servidor si es necesario
                xhr.onload = function () {
                    if (xhr.status === 200) {
                        var response = JSON.parse(xhr.responseText);
                        console.log("Respuesta del servidor:", response);
                        if ("request" in response) {
                            Swal.fire({
                            title: 'Generar PDF',
                            text: "El ciclo elegido es el: " + response.id +
                                "\n.Fecha de inicio: " + response.fecha_init +
                                "\n.Fecha de Final: " + response.fecha_finish +
                                "\n¿Desea generar el PDF?",
                            icon: 'question',
                            showCancelButton: true,
                            confirmButtonText: 'Generar PDF',
                            cancelButtonText: 'Cancelar'
                        }).then((result) => {
                            if (result.isConfirmed) {
                                // Aquí puedes agregar la lógica para generar el PDF
                                console.log('Generando PDF...');
                            }});
                        } else {
                        Swal.fire({
                            icon: "success",
                            title: "Exitoso",
                            text: response.message,
                            customClass: {
                                popup: 'succespop', // Agrega una clase personalizada al contenedor modal
                            }
                            });
                        }
                    }
                    if (xhr.readyState == 4 && xhr.status == 400) {
                        try {
                            var errorResponse = JSON.parse(xhr.responseText);
                            // window.alert("Error: " + errorResponse.detail);
                            Swal.fire({
                            icon: "error",
                            title: "Error",
                            text: errorResponse.detail,
                            customClass: {
                                popup: 'alertpop', // Agrega una clase personalizada al contenedor modal
                            }
                            });
                            // O utilizar una biblioteca como SweetAlert para una mejor experiencia de usuario
                            // swal("Error", errorResponse.detail, "error");
                        } catch (error) {
                            console.error('Error en la solicitud:', xhr.status);
                        }
                    }
                };
                xhr.send(data);
            }
        </script>

    </section>


    <footer id="page-footer">
        <p>&copy; Finca La Marina</p>
    </footer>
    
    <script src="{{url_for('static', path='/js/script.js')}}"></script>
</body>
</html>
