<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', path='/css/styles.css')}}">
    <title>{{title}}</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://html2canvas.hertzen.com/dist/html2canvas.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>

    <header id="page-header">

        <div id="branding">
            <h1 id="site-title">{{title}}</h1>
        </div>

        <div id="mySidebar" class="sidebar">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
            <a href="/LaMaria/home">Inicio</a>
            <a href="/LaMaria/ingresoDatos">Datos</a>
        </div>

        <div id="boton">
            <button class="openbtn" onclick="openNav()">☰</button>  
        </div>

        <script>
            function openNav() {
                document.getElementById("mySidebar").style.width = "150px";
                document.getElementById("boton").style.marginLeft = "250px";
            }

            function closeNav() {
                document.getElementById("mySidebar").style.width = "0";
                document.getElementById("boton").style.marginLeft= "0";
            }
        </script>

    </header>


    <main>

        <div class="container" id="container-1">
            <img id = "image-1" src="{{url_for('static', path='imgs/color.png')}}" alt="Imagen 1">
        </div>

        <div class="container" id="container-2">
            <div class="sub-container" id="sub-container-1">
                <span id="total_gr"> {{ total_gr }}</span>
                <p>gr acumulados </p>
            </div>
            <div class="sub-container" id="sub-container-2">
                <span id="gr_faltante"> {{ gr_faltante }} </span>
                <p> gr Faltantes</p>                
            </div>
            <div class="sub-container" id="sub-container-3">
                <span id="vendido"> {{ vendido }} </span>
                <p>Vendido a la fecha</p>
            </div>
            <div class="sub-container" id="sub-container-4">
                <span id="prom_precio"> {{ prom_precio }}</span>
                <p>Precio promedio por Kg </p>      
                
                <div class="container " id="button-container">
                    <button class="my-button"  onclick = "generarPDF()" >Generar pdf</button>
                </div>

                <img id = "fondopdf" src="{{url_for('static', path='imgs/Reporte.png')}}" alt="fondopdf" style="display: none;">

            </div>
        </div>
    

    <div class="container" id="container-3" style="display: flex;justify-content: center;align-items: center;">
        <canvas id="myChart" style="padding: 20px;"></canvas>
    </div>

    <script>

        function generarPDF() {
            // Obtén la imagen que se utilizará para crear el PDF.
            var total_gr = document.getElementById("total_gr").textContent;
            var vendido = document.getElementById("vendido").textContent;
            var prom_precio = document.getElementById("prom_precio").textContent;
            var prom_gr = document.getElementById('prom_gr').dataset.variable;

            var image = document.getElementById("fondopdf");

            // Obtiene las dimensiones de la imagen.
            var imgWidth = image.width;
            var imgHeight = image.height;


            // Crea un nuevo documento PDF con las dimensiones de la imagen.
            var pdf = new jsPDF({
                orientation: 'l',
                unit: "pt",
                format: [imgWidth, imgHeight]
            });

            // Agrega la imagen al documento PDF.
            pdf.addImage(image, "PNG", 0, 0, imgWidth, imgHeight);
            //pdf.addImage(image2, "PNG", 500, 500, 380, 375);

            pdf.setFont("arial", "bold"); // Cambia "times" a la fuente que desees
            pdf.setFontSize(35); // Cambia 12 al tamaño de fuente que desees

            // Agrega 4 textos encima de la imagen.
            pdf.text(total_gr, 425, 250);
            pdf.text(prom_gr, 950, 250);
            pdf.text(vendido, 125, 250);
            pdf.text(prom_precio, 700, 250);  

            var chartCanvas = document.getElementById('myChart');

            html2canvas(chartCanvas, { backgroundColor: 'rgba(0,0,0,0)', scale: 9 }).then(function(canvas) {
                var imgData = canvas.toDataURL('image/png');
                
                // Agrega la imagen del gráfico al PDF
                pdf.addImage(imgData, 'PNG', 98 , 330, 750, 400);

                // Guarda el documento PDF.s
                pdf.save("documento.pdf");
            });
        }
    </script>

    </main>


    <footer id="page-footer">
        <p>&copy; Finca La Marina</p>
        <!-- Variables ocultas -->
        <div id="datos_grafica" data-variable="{{ datos_grafica }}" style="display: none;"></div>
        <div id="total_ciclo" data-variable="{{ relacion_gr }}" style="display: none;"></div>
        <span id="prom_gr" data-variable="{{ prom_gr }}" style="display: none;"></span>
    </footer>
    
    <script src="{{url_for('static', path='/js/script.js')}}"></script>
</body>
</html>
